!!!
%html
  %head
    %title= page_title
    
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
    
    - meta_tags.each do |name,content|
      %meta{:name => name, :content => content}
      
    %meta{:name => 'description', :content => "The Lincolnshire Poacher is a collection of articles written by Chris Lloyd about programming, technology & business. #{@article.try(:extract)}"}
    
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    %link{:href => '/screen.css', :media => 'all', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/print.css', :media => 'print', :rel => 'stylesheet', :type => 'text/css'}
    
    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', :type => 'text/javascript'}
    %script{:src => '/js/lib.js', :type => 'text/javascript'}
    %script{:src => '/js/raphael.zoom.js', :type => 'text/javascript'}
    
    = partial :openid
    = partial :typekit
    = partial :google_analytics if production?
        
  %body
    %header
      %h1
        %a{:href => '/'} The Lincolnshire Poacher
        by Chris Lloyd
    
    = yield
    
    %script{:type => 'text/coffeescript'}= erb(:'poacher.coffee')
    - artworks.each do |_, fn|
      %script{:type => 'text/x-artwork'}= fn
